code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.grid {
    width: 80%;
    line-height: 0;
    margin: auto;
    box-shadow: 0px 0px 20px white;
    margin-top: 20px;
}

.off {
    background-color: white;
}

.on {
    background-color: black;
}

.cell:hover {
    background: #00CCFF;
}


.cell {
    display: inline-block;
    border: 1px solid grey;
    width: 15px;
    height: 15px;
    margin-left: -1px;
    margin-bottom: -1px;
}
